.card {
    background-color: #274C77;
}

.title {
    color: #5bc0de;
}

.alert{
    color: #d9534f;
    margin: 0%;
    padding: 0%;
}

.form-control-feedback{
    color: #d9534f;
}

img {
    width: 70%;
    align-self: center;
}