<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-wallpaper.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <img src="assets/img/logo.png">
                        <h3 class="title">Registrarse</h3>
                        <form class="register-form" (ngSubmit)="submit()" #userForm="ngForm">
                            <label>Usuario</label>
                            <div id="campoUsuario" class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="text" name="username" class="form-control" placeholder="Usuario" (focus)="focus=true" (blur)="focus=false"
                                    [(ngModel)]="user.username"
                                    #username="ngModel" required maxlength="20">
                            </div>
                            <div *ngIf="username.invalid && username.dirty" class="alert">
                                <div *ngIf="username.errors?.required">Campo requerido</div>
                            </div>
                            <label>Email</label>
                            <div id="campoEmail" class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false"
                                    [(ngModel)]="user.email"
                                    #email="ngModel" required maxlength="50">
                            </div>
                            <div *ngIf="email.invalid && email.dirty" class="alert">
                                <div *ngIf="email.errors?.required">Campo requerido</div>
                            </div>
                            <label>Contraseña</label>
                            <div id="campoPass" class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus2===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" (focus)="focus2=true" (blur)="focus2=false"
                                [(ngModel)]="user.password" #password="ngModel" required minlength="6">
                            </div>
                            <div *ngIf="password.invalid && password.dirty" class="alert">
                                <div *ngIf="password.errors?.required">Campo requerido</div>
                                <div *ngIf="password.errors?.minlength">Mínimo 6 carácteres</div>
                            </div>
                            <div *ngIf="registerFail" class="form-control-feedback">Error al registrarse</div>
                            <button type="submit" class="btn btn-info btn-block btn-round" [disabled] ="!userForm.form.valid">Registrarse</button>
                        </form>
                        <div class="forgot">
                            <a href="/login" routerLink="/login" class="btn btn-link btn-info">¿Ya tienes cuenta? ¡Entra
                                ya!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>